.header,
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  text-transform: uppercase;
}

.footer {
  @media (max-width: 500px) {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 82px;

  @media (max-width: 1100px) {
    padding-left: 18px;
  }
}

.logo a {
  font-family: "Futura DemiC", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #e3b873;
  text-decoration: none;

  @media (max-width: 600px) {
    font-size: 12px;
    line-height: 14px;
  }
}

.header-items,
.footer-items {
  display: flex;
  align-items: center;
}

.header-menu,
.footer-menu {
  @media (max-width: 1100px) {
    display: none;
  }
}

.header-menu a,
.footer-menu a {
  font-family: "Futura BookC", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.header-menu a:hover,
.footer-menu a:hover {
  color: #e3b873;
}

.header-menu ul,
.footer-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu li,
.footer-menu li {
  padding-right: 47px;

  @media (max-width: 1360px) {
    padding-right: 20px;
  }
}

.header-items .phone-number a,
.footer-items .phone-number a {
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  color: #e3b873;
  padding-right: 45px;

  @media (max-width: 600px) {
    display: none;
  }
}

.header-button button,
.footer-button button {
  font-family: "Futura DemiC", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 33px;
  margin: 25px 100px 22px 0;

  @media (max-width: 1360px) {
    margin-right: 20px;
  }

  @media (max-width: 600px) {
    font-size: 10px;
    padding: 10px 25px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
