.repair-styles {
  background-image: url("./images/repair-styles-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 760px) {
    flex-wrap: wrap;
    background-image: none;
    background-color: #ffffff;
  }
}

.repair-styles .shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  @media (max-width: 760px) {
    display: none;
  }
}

.tabs-buttons {
  position: relative;
  padding-top: 137px;
  padding-left: 99px;
  padding-bottom: 72px;

  @media (max-width: 760px) {
    text-align: center;
    width: 100%;
    padding: 0;
  }
}

.repair-styles .title {
  font-family: "Yeseva One", serif;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #e3b873;
  padding-bottom: 30px;

  @media (max-width: 1340px) {
    font-size: 25px;
    line-height: 35px;
  }

  @media (max-width: 1200px) {
    font-size: 22px;
    line-height: 30px;
  }
}

.repair-styles .tabs-buttons ul {
  list-style: none;
  padding-left: 0;
  margin: 0;

  @media (max-width: 760px) {
    display: none;
  }
}

.repair-styles .tabs-buttons .active,
.repair-styles .tabs-buttons button:hover {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
}

.repair-styles .tabs-buttons button {
  background: transparent;
  border: none;
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 25px;
}

.styles-slider {
  z-index: 10;
}

.repair-styles .tabs-images {
  display: none;

  @media (max-width: 760px) {
    display: block;
  }
}

.repair-styles .tabs-images.active {
  display: flex;

  @media (max-width: 760px) {
    display: block;
  }
}

.repair-styles .tabs-images .columns {
  @media (max-width: 760px) {
    &:first-child {
      .column-one {
        div:nth-child(1) {
          display: none;
        }
      }
    }

    &:nth-child(2) {
      display: none;
    }
  }
}

.tabs-images .columns .column-one {
  position: absolute;
  top: -41px;
  right: 500px;

  @media (max-width: 1340px) {
    right: 400px;
  }

  @media (max-width: 1140px) {
    right: 0;
  }

  @media (max-width: 760px) {
    position: static;
  }
}

.tabs-images .columns .column-two {
  position: absolute;
  top: -112px;
  right: 102px;

  @media (max-width: 1340px) {
    right: 2px;
  }

  @media (max-width: 1140px) {
    display: none;
  }

  @media (max-width: 760px) {
    display: block;
    position: static;
  }
}

.tabs-images .columns img {
  color: #363636;
  padding-bottom: 37px;
  padding-right: 43px;

  @media (max-width: 760px) {
    padding-right: 0;
    display: block;
    margin: auto;
  }
}
